@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    font-family: "Ubuntu", sans-serif;
    /* background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #f800eb 100%); */
    min-height: 100vh;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    background-size: 200% 100%; /* Asegúrate de que el tamaño del fondo sea mayor */
    animation: moverFondo 10s infinite; /* Define la animación */
    animation-direction: alternate;
  }
}
